<div class="row">

      <div class="panel-heading">
        Change Password
      </div>

      <div class="panel-body">
        <!--<div class="alert alert-success alert-dismissible" role="alert" ng-show="vm.RegisterFailAlert">-->
          <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
            <!--<span aria-hidden="true">&times;</span></button>-->
          <!--<strong>Success!</strong> {{vm.RegisterMessage}}-->
        <!--</div>-->

        <label for="password">Current Password</label>
        <input type="password" id="password" class="form-control" minlength="4" maxlength="18" required ng-model="vm.user.oldPassword">

        <label for="new-password">New Password</label>
        <input type="password" id="new-password" class="form-control" minlength="4" maxlength="18"  required ng-model="vm.user.newPassword">

        <label for="confirm-password">New Password</label>
        <input type="password" id="confirm-password" class="form-control" minlength="4" maxlength="18" required ng-model="vm.user.confirmPassword">


      </div>
      <div class="panel-footer">
        <input type="submit" value="Change Password" ng-click="vm.changePassword(vm.user)">
      </div>

</div>
